<mat-toolbar>
  <mat-toolbar-row>
    <div >
      <button class="nav_bar_logo_button" mat-button (click)="goHome()">
        <span>Ventilife</span>
      </button>
    </div>
    <span class="flexExpand"></span>
    <div *ngIf="user === null">
      <button class="nav_bar_button" mat-button (click)="login()"> Login / Register </button>
    </div>
    <div *ngIf="user !== null">
      <button class="nav_bar_button" mat-button (click)="logout()"> Logout </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
