mat-toolbar{
  background-color: transparent;
  position: relative;

}

mat-toolbar-row{
  padding: 20px;
}

mat-toolbar-row>div>button:hover {
  cursor: pointer;
  scale: 1.05;
  transition: scale 1s;
}

.nav_bar_logo_button{
  margin: 0 5px;
  background-color: #393E46;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  width: 160px;
  height: 60px;
  color: #F5F5F5;
  position: relative;
  z-index: 3;
}

.nav_bar_button{
  margin: 0 5px;
  background-color: #012622;
  color: #F5F5F5 !important;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  min-width: 160px;
  padding: 20px 20px;
  position: relative;
  z-index: 3;
}

mat-icon{
  width: 90px !important;
  height: 80px !important;
  margin-top: -10px !important;
}

.flexExpand {
  flex: 1 1 auto;
}
