<div class="container">
  <div class="left-side">
    <div *ngIf="showLoginForm">
      <h1>Login</h1>
      <form
        (ngSubmit)="onLoginSubmit()"
        [formGroup] = "loginForm"
      >
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" formControlName="email" required email>
          <mat-error *ngIf="loginForm?.get('email')?.invalid">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" formControlName="password">
          <mat-error *ngIf="loginForm?.get('password')?.invalid">
            Password must be at least 6 characters long
          </mat-error>
        </mat-form-field>

        <button mat-button color="primary" type="submit">Login</button>
      </form>
    </div>

    <div *ngIf="!showLoginForm">
      <h1>Register</h1>
      <form
        (ngSubmit)="onRegisterSubmit()"
        [formGroup] = "registerForm"
      >
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput type="text" name="name" formControlName="name" required>
          <mat-error *ngIf="registerForm?.get('name')?.invalid">
            Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Surname</mat-label>
          <input matInput type="text" name="surname" formControlName="surname" required>
          <mat-error *ngIf="registerForm?.get('surname')?.invalid">
            Surname is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="registerEmail" formControlName="email" required email>
          <mat-error *ngIf="registerForm?.get('email')?.invalid">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="registerPassword" formControlName="password">
          <mat-error *ngIf="registerForm?.get('password')?.invalid">
            Password must be at least 6 characters long
          </mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit">Register</button>
      </form>
    </div>
  </div>

  <div class="right-side">
    <div *ngIf="showLoginForm">
      <h1>Welcome back! Please login to your account.</h1>
      <h2>Don't have an account?</h2>
      <a (click)="changeForm()">Create one</a>
    </div>

    <div *ngIf="!showLoginForm">
      <h1>Welcome! Create your account to start.</h1>
      <h2>Already have an account?</h2>
      <a (click)="changeForm()">Login</a>
    </div>
  </div>
</div>
